.header {
    font-weight: 800;
}

.nav-item {
    font-weight: 700;
}

.banner-img {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;

}

.banner-header {
    font-weight: 800;
}

.banner-para {
    font-weight: 600;
}

.banner-btn {
    background-color: rgb(243, 132, 151);
}