.header {
    font-weight: 800;
}

.nav-item {
    font-weight: 700;
}

.banner-img {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}

.banner-header {
    font-weight: 800;
    font-size: 50px;
}

.banner-para {
    font-weight: 600;
}

.banner-btn {
    background-color: rgb(250, 102, 127);
    color: white;
    border-radius: 30px;
}

.popular-brand {
    margin-top: 60px;
}

.popular-website {
    justify-content: space-evenly;
}